<h1>Editing Structure</h1>

<%= render 'form', structure: @structure %>

<%= link_to 'Show', @structure,class:"badge badge-primary" %> |
<%= link_to 'Back', structures_path,class:"badge badge-primary" %>
