<h1>Editing Activite</h1>

<%= render 'form', activite: @activite %>

<%= link_to 'Show', @activite, class:"badge badge-primary" %> |
<%= link_to 'Back', activites_path, class:"badge badge-primary" %>
