<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @activite.nom %>
</p>

<%= link_to 'Edit', edit_activite_path(@activite), class:"badge badge-primary" %> |
<%= link_to 'Back', activites_path, class:"badge badge-primary" %>
