<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<%= link_to 'Edit', edit_place_path(@place), class:"badge badge-primary" %> |
<%= link_to 'Back', places_path, class:"badge badge-primary" %>
